* {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}


html {
  background-color: #2d2e51;
  font: Bold 20px/29px Noto Sans CJK TC;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  top: 0px;
  width: 100%;
}

/* .router-backward-enter-active,
.router-forward-enter-active,
.router-backward-leave-active,
.router-forward-leave-active {
  will-change: transform;
  transition: all 500ms ease-out;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.router-backward-enter {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}

.router-backward-leave-active {
  opacity: 0.5;
  z-index: 100;
  transform: translate3d(100%, 0, 0);
}

.router-forward-enter {
  opacity: 1;
  transform: translate3d(100%, 0, 0);
}

.router-forward-leave-active {
  opacity: 0.5;
  transform: translate3d(-50%, 0, 0);
} */